.header {
    background-color: #fff;

    &-top {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search {
        margin-right: auto;
        margin-left: 108px;
    }
}

.search {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    height: 40px;
    &__input {
        width: 350px;
        height: 100%;
        padding-left: 23px;
        padding-right: 75px;
        background-color: #f5fafe;
        font-size: 12px;
        line-height: 15;
        color: $text-color;

        &::placeholder {
            color: $text-color;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 65px;
        background: $primary;
        cursor: pointer;
    }
}

.user {
    display: flex;
    align-items: center;

    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-size: 14px;
        line-height: 18px;
        margin-left: 18px;
        color: $text-color;
    }
}

.header-menu {
    background: #0a223d;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 31px 0;
    }

    &__item {
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        color: #ffffff;
    }
}
